* {
  box-sizing: border-box;
  
}

.App {
  text-align: center;
  padding: 20px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  max-width: 600px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 30px;
  background: #fff;
}
.Author {

  padding: 15px;
  justify-content: right;
  display: flex;
 


}


.fa-quote-left:before {
    content: "\f10d";
    padding: 15px;
    font-size: 50px;
}

.fa-angle-right:before {
  content: "\f105";
  font-size: 35px;
}


.card button {
  background: black;
  font-size: 18px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  display: inline-block;
  float: right;
}
