* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.App {
  text-align: center;
  padding: 20px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  max-width: 600px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 30px;
  background: #fff;
}
.Author {

  padding: 15px;
  justify-content: end;
  display: flex;
  align-items: end;


}


.fa-quote-left:before {
    content: "\f10d";
    padding: 15px;
    font-size: 50px;
}

.fa-angle-right:before {
  content: "\f105";
  font-size: 35px;
}



.card ul {
  text-align: left;
  list-style: none;
  padding: 0;
}

.card ul li {
  margin-bottom: 10px;
}

.card button {
  background: black;
  font-size: 18px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  display: inline-block;
  float: right;
}



.A{
padding: 55px;
margin: 22px;
border: 22px;
width: 150px;
background-color: aqua;
border-radius: 100%;
}

.H{

  padding: 5px;
  margin: 2px;
  border: 2px;
  width: 150px;
  background-color: beige;
  display: inline-flex;
  flex-direction: column;
  border-radius: 5%;

}

.C {

  padding: 5px;
  margin: 2px;
  border: 2px;
  width: 150px;
  background-color: #61dafb;
  display: inline-flex;
  flex-direction: column;
  border-radius: 5%;


}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
